<!DOCTYPE html>
<html lang="en">
  <font face="consolas">
  <head>
    <meta charset="UTF-8">
    <b><title></title></b>
  </head>
  <body> 
      <h1 align="center">ВЫПУСКНАЯ КВАЛИФИКАЦИОННАЯ РАБОТА по курсу «Data Science» Тема: Прогнозирование конечных свойств новых материалов (композиционных материалов).</h1>

    <b><div align="center"><a href="{{url_for('endpiont_durability')}}">Модуль упругости при растяжении, ГПа</a></div>
    <div align="center"><a href="{{url_for('endpoint_elasticity')}}">Прочности при растяжении, ГПа</a></div>
    <div align="center"><a href="{{url_for('endpoint_matrix_filler')}}">Соотношение матрица-наполнитель</a></div></b>
  </body>
  </font>
</html>